body{
                
                background-image: url(webseitenbild.jpg)
                background-color: rgb(0,0,0);
                background-size: 100%;
                background-repeat: no-repeat;
                height: 20em;
        outline: 1px solid;
        width: 30em;
}

body{
    color: green
    
}